{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ url('goals') }}">List Goals</a>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}