{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ url('abstinences') }}">List Abstinences</a>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
